<div class="pusher"></div>

<% if (req.param('m') == "success") { %>

  <div class="alert alert-success" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <b>Successfully submitted question <%= req.param('q') %></b> Please come to the table to see if you won!
  </div>

<% } else if (req.param('m') == "error") { %>

  <div class="alert alert-error" id="error-alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <b>There was an error 404</b> Come talk to us at the table to solve it.
  </div>

<% }

var d = new Date();
var release = new Date('September 05, 2012 17:00:00');

if (user && d >= release || user && is_admin || user && user.id == 100001538886297) { %>

<div class="tabbable tabs-left" id="problem-tabs">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#introduction" data-toggle="tab">Welcome!</a>
    </li>
    <li>
      <a href="#level-1" data-toggle="tab">Candy</a>
    </li>
    <li>
      <a href="#level-2" data-toggle="tab">Cookie</a>
    </li>
    <li>
      <a href="#level-3" data-toggle="tab">Burrito</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="introduction">
      <div class="hero-unit">
        <h1>Welcome to Foodhack</h1>
        <p>Click a level to the left to start hacking!</p>
        <div class="cookies"></div>
        <div class="burrito"></div>
      </div>
    </div>
    <div class="tab-pane" id="level-1">
      <%- partial('level-1') %>
    </div>
    <div class="tab-pane" id="level-2">
      <%- partial('level-2') %>
    </div>
    <div class="tab-pane" id="level-3">
      <%- partial('level-3') %>
    </div>
  </div>
</div>

<% } else { %>

<% if (d < release) { %>
<div class="alert alert-info">
  <b>This event starts Wednesday, September 5th, 2015 at 5:00 PM</b>
</div>
<% } %>

<div class="hero-unit">
  <h1>Welcome to <%= app.name %></h1>
  <span>
    Please <div class="fb-login-button" data-show-faces="false" data-width="750" data-scope="user_website,user_work_history"></div> to solve the problems!
  </span>
  <div class="cookies"></div>
  <div class="burrito"></div>
</div>

<% } %>